{% extends 'base.html' %}
{% load static %}

{% block content %}

<section style="min-height:60vh">

	<div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-end">
        <img style="width:90% ;" src="{% static 'images/logo.png' %}" alt="">
      </div>
      
      <div class="col-lg-6">
        <div class="card mx-auto" style="max-width: 520px; ">

          <div class="card-body">
          <h3 class="card-title mb-4">Reset Password</h3>
          
          <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
             
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="createPassword" placeholder="Create Password" name="password">
                <label for="createPassword">New Password <span class="text-danger">*</span> </label>
              </div>
    
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirm_password">
                <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
              </div>
    
              <div class="form-group d-grid">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> 
          </form>
          </div> 
        </div> 
    
        <div>
          <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}