<footer class="mt-5 pb-3 border-top">
  <div class="container">
    <div class="row py-4 text-center">
      <div class="col-12">
        <div>
          <small>
            Copyright &copy; <span id="copyrightYear"></span> by 
            <a target="_blank" href="https://www.advantech.com/">Advantech</a> 
            TSE. All rights reserved <sup>&reg;</sup>.            
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById("copyrightYear").innerHTML = new Date().getFullYear();
</script>