{% load static %}
<header>
      <div
        class="navigation__bar fixed-top mb-5 navbar-default"
        style=" width: 100%"
      >

        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light pb-0">
            <div class="container-fluid px-0">
              <a
                class="navbar-brand font__righteous"
                href="{% url 'home' %}"
                style="font-size: 1.4rem; "
                > <span class="text-primary">
                  <i class="bi bi-bezier"></i>
                </span> TSE<span class="text-primary">ManagementSystem</span>
                </a
              >

              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- d-lg-flex justify-content-end TO MOVE NAV ITEMS TO RIGHT -->
              <div
                class="collapse navbar-collapse d-lg-flex justify-content-end"
                id="navbarNavDropdown"
              >              
             
                <ul class="navbar-nav">
                  

                  <li class="nav-item mr-lg-1">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                      >Home</a
                    >
                  </li> <!-- Home.// -->

                  <li class="nav-item dropdown mx-lg-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      My IP
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li>
                        <a class="dropdown-item" href="{% url 'apply_new_ip_address' %}">Apply New IP</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'my_ip_lease_records' %}">My IP lease Record</a>
                      </li>
                    </ul>
                  </li> <!-- My IP// -->

                  {% if request.user.is_authenticated and request.user.is_admin  %}
                  <li class="nav-item dropdown mx-lg-1">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      IP Management
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li>
                        <a class="dropdown-item" href="{% url 'ip_address_pool' %}">IP Address Pool</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'ip_requests_list' %}">Approved IP Requests </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'ip_report_list' %}">IP Reports List</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'ip_addresses_history' %}">IPs Tracking </a>
                      </li>
                      <div class="dropdown-divider"></div>
                      <li>
                        <a class="dropdown-item" href="{% url 'request_rejected_list' %}">Rejected IP Requests</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'illegal_ip_detected_list' %}">Illegal IPs List</a>
                      </li>
                      
                    </ul>
                  </li> <!-- IP Management// -->
                  
                  <li class="nav-item mx-lg-1" style="max-width: 150px">
                    <a class="nav-link" href="{% url 'pending_ip_requests' %}">
                      <div class="btn-sm btn-secondary position-relative">
                        Pending Req <i class="bi bi-bell-fill"></i>
                        <!-- For new request nofication -->
                        <span
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        >
                          +{{ new_requests_processors.count }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                        <!-- For new request nofication end -->
                      </div>
                    </a>
                  </li> <!-- Pending request.// -->
                  {% endif %}

                  {% if not request.user.is_authenticated %}
                  <li class="nav-item my-auto " style="max-width: 150px">
                    <a class="nav-link " href="{% url 'login' %}" >
                      <span class="btn btn-sm btn-outline-secondary">Login <i class="bi bi-box-arrow-in-right"></i></span>
                    </a>
                  </li> <!-- Login// -->

                  <li class="nav-item my-auto " style="max-width: 150px">
                    <a class="nav-link" href="{% url 'register' %}"> 
                      <span class="btn btn-sm btn-primary">Create account <i class="bi bi-check-square"></i></span>
                    </a>
                  </li> <!-- Register// -->
                  {%else%}
                  <li class="nav-item my-auto ml-lg-1" style="max-width: 150px">
                    <a class="nav-link " href="{% url 'logout' %}">
                      <span class="btn btn-sm btn-outline-secondary"><i class="bi bi-power"></i> Logout </span>                     
                    </a>
                  </li><!-- Logout // -->
                  
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
               
      </div>
      {% if request.user.is_authenticated %}
      <div  class="container d-flex justify-content-end mb-1">
        <small>| <i class="bi bi-person-fill"></i> Logged as: <strong>{{ request.user.first_name | lower | capfirst  }}</strong> ! </small>
      </div>
      {% endif %}
      <div  class="container d-flex justify-content-end mb-1">
        <small class="invisible"> placeholder for login user</small>
      </div>
      
    </header>
  
