{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<!-- New request table/Show empty when no request -->
    <section>
      <div class="container">
        <div class="mb-3">
          <h3>New IP lease requests</h3>
        </div>
        <div class="border-bottom mb-2 pb-1">
          <small class="mr-md-auto"><span class="fw-bolder">{{ ip_requests.count }}</span> Waiting for approval.</small>
        </div>
        <div class="card mb-3">
          <table class="table">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">REQ_ID</th>
                <th scope="col">Email</th>
                <th scope="col">Request Date</th>
                <th scope="col">Lease End</th>
                <th scope="col">Message</th>
                <th scope="col">NUM of IP</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for new_request in ip_requests %}
                <tr>
                    <th scope="row"><a href="{{ new_request.get_request_detail_url }}">{{ new_request.request_id }}</a></th>
                    <td>{{ new_request.stuff_user.email }}</td>
                    <td>{{ new_request.request_date | naturaltime }}</td>
                    <td>{{ new_request.lease_end | date:"M d, Y"  }}</td>
                    {% if new_request.comment %}
                        <td><span class="btn btn-sm btn-info" >Yes</span></td>
                    {% else %}
                        <td><span class="btn btn-sm btn-light" >No</span></td>
                    {% endif %}
                    <td>{{ new_request.number_of_ip }}</td>
                    <td>
                    <div>
                        <a class="btn btn-sm btn-success acceptIpRequestListBtn" href="{{ new_request.get_request_detail_url }}?approval=accepted"
                        >Accept</a>

                        <a class="btn btn-sm btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#id{{ new_request.request_id }}">
                          Reject
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="id{{ new_request.request_id }}" tabindex="-1" aria-labelledby="id{{ new_request.request_id }}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="id{{ new_request.request_id }}Label">Confirm request #{{ new_request.request_id }} rejection </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <span ><span class="text-danger"><i class="bi bi-exclamation-octagon-fill"></i></span> Are you sure you want to reject request #{{ new_request.request_id }}?</span>
                              </div>
                              <div class="modal-footer ">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{{ new_request.get_request_detail_url }}?approval=rejected" class="btn btn-danger">Confirm Reject</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- modula end -->
                    </div>
                    </td>
                </tr>                
                {% endfor  %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script>
      document.querySelectorAll(".acceptIpRequestListBtn").forEach(function (el) {
          el.addEventListener("click", function (e) { 
          this.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Accepting...`;
          this.classList.add("disabled");
  
      });
    });
    </script>

{% endblock %}