{% extends 'base.html' %}
{% block content %}
 
    <!-- IP request rejction page -->
    <section>
      <div class="container">
        <div  class="text-center mb-3">
          <div class="fs-3" style="color:#dc3545;"><i class="bi bi-x-octagon-fill"></i></div>
          <div class="font__noto fs-3">Request <span style="color:#0d6efd">#{{ new_request.request_id }}</span> rejection completed</div>
          <small>The rejection reason has been successfull sent to <span style="color:#0d6efd">{{ new_request.email }}</span>!</small>
        </div>
        <div class="text-center mb-3">
          <h3>Rejection Details Below</h3>
        </div>
        <div class="card mx-auto mb-4" style="max-width: 520px;">          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: <span class="fw-bolder">{{ new_request.stuff_user.first_name | lower | capfirst }} {{ new_request.stuff_user.last_name | lower | capfirst }}</span></li>
            <li class="list-group-item">Email: <span class="fw-bolder">{{ new_request.stuff_user.email }}</span></li>
            <li class="list-group-item">
              <span class="d-block">Number of IPs Requested: <span class="fw-bolder">{{ new_request.number_of_ip }}</span></span>
              <span class="d-block">Request Date: <span class="fw-bolder">{{ new_request.request_date }}</span></span>
              <span class="d-block">Lease End: <span class="fw-bolder">{{ new_request.lease_end }}</span></span>
            </li>
            <li class="list-group-item">
              <span class="d-block">Rejcted By: <span class="fw-bolder" style="color:#0d6efd">{{ request.user.first_name }}</span></span>
              <span class="d-block">Rejected Date: <span class="fw-bolder">{{ new_request.approved_date }}</span></span>
              
            </li>
            <li class="list-group-item">Rejection Reason: <span class="text-muted">{{ new_request.rejection_reason }}</span></li>
          </ul>
          
        </div>
        <div class="text-center mb-4">
          {% if new_requests_processors %}
            <a href="{% url 'pending_ip_requests' %}" class="btn btn-primary">Process Remaining Requests <span class="badge bg-danger">+{{ new_requests_processors.count }}</span></a>
            {% endif %}
            <a href="{% url 'ip_requests_list' %}" class="btn btn-outline-info">View Approved Requests List </a>
        </div>
      </div>

    </section>
{% endblock %}
